body, html {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb    
}

.container {
    background-color: white
}

footer {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    background: linear-gradient(to top, #bcbcbc, transparent);
    padding-bottom: 1%;
    position: fixed;
    bottom: 0;
}

footer a {
    color: black;
    text-decoration: underline;
}